.Container{
    min-height: 100vh;

}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: white;
    background: rgb(27, 27, 49);
}
.account,.create{
    text-decoration: none;
    color: white;   
    font-size: large;
}


